.cantainernavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  height: 55px;
  border-bottom: 1px solid #C7C7C7;
  font-family: montserrat,sans-serif;
  font-size: 15px;
}

.logo {
  width: 150px;
}

.menu-left{
  display: flex;
  align-items: center;
}
.menu-left a {
  margin: 12px;
  text-decoration: none;
  color: black;
}
.divider {
  margin-left: 8px;
  margin-right: 4px;
  color: #7C7C7C;
}


.menu-right {
  display: flex;
  align-items: center;
}

.btn{
  margin: 6px;
}
.menu-right button {
  border: 0px;
  background-color: #fff;
}
.searchBar {
  display: flex;
  align-items: center;
  background-color: #F4F4F4;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}
.searchBar input {
  border: 0px;
  width: 220px;
  margin-left: 4px;
  background-color: #F4F4F4;
  font-size: 10px;
}
.searchBar input:focus{
    outline: none;
}
.backdrop{
  position: absolute;
  top:56px;
  bottom: 0px;
  width: 100%;

}
.hovercontainer{
  position: absolute;
  top:56px;
  left:120px;
  right: 120px;
  height: 500px;
  background-color: #fff;
  display: flex;
  padding: 16px;
}

.catagory_block {
 margin: 12px; 
 color: #474747;
 font-weight: 400;
 font-size: 14px;
}

.emailcontainerclass{
  border: 2px solid black;
}